.Day {
    max-width: 500px !important;
    border: 1px solid black;
    position: relative;
    background-color: white;
    min-height: 8rem;
}



@media (min-width: 1000px) {

    .Day {
        height: 32rem;
    }
}

