.Day {
    max-width: 500px !important;
    height: 100%;
    border: 1px solid black;
    position: relative;
    background-color: white;
    min-height: 20rem;
}

.Day-points {
    position: absolute;
    bottom: 0rem;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}