.MealPlanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(155, 193, 204);
    flex-grow: 1;
}

.MealPlanner-header {
    margin: 1rem 0px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 1rem;
}

.MealPlanner-explain-para {
    margin: 0.4rem 0;
}

/* .MealPlanner-week-div { */
    /* width: 100vw; */
    /* height: 40vh; */

    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    /* margin: auto; */
    /* margin-bottom: 1rem; */
/* } */

@media (max-width: 1000px) {
    .week-container {
        max-width: 500px !important;
    }
}

@media (max-width: 468px) {
    .MealPlanner-explain-para {
        font-size: 12px;
    }
}

.MealPlanner-form {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 120px;
}

@media (max-width: 800px) {
    .MealPlanner-form {
        font-size: 12px;
    }
}

.no-recipe-para {
    font-size: 24px;
    margin-top: 3rem;
}

