.small-btn {
    font-size: small;
    padding: 0px 0.25rem;
    border-radius: 20%;
}

@media (max-width: 800px) {
    .UserRecipe-link {
        font-size: 0.8rem;
    }
}

@media (max-width: 468px) {
    .UserRecipe-link {
        font-size: 0.6rem;
    }
}
