.NutrientForm-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.NutrientForm-set-nutrients-btn {
    /* position: absolute; */
    /* left: 50%;
    transform: translate(-50%, -50%); */
    margin: 1rem 0;
}